*.o
*.ppu
tetris
**/field/**/delete_filled_lines
**/field/**/delete_line
**/field/**/initialize
**/field/**/is_filled
**/field/**/is_line_filled
**/figure/**/add_i_down
**/figure/**/add_i_left
**/figure/**/add_i_right
**/figure/**/add_i_top
**/figure/**/add_j_down
**/figure/**/add_j_left
**/figure/**/add_j_right
**/figure/**/add_j_top
**/figure/**/add_l_down
**/figure/**/add_l_left
**/figure/**/add_l_right
**/figure/**/add_l_top
**/figure/**/add_o_down
**/figure/**/add_o_left
**/figure/**/add_o_right
**/figure/**/add_o_top
**/figure/**/add_s_down
**/figure/**/add_s_left
**/figure/**/add_s_right
**/figure/**/add_s_top
**/figure/**/add_t_down
**/figure/**/add_t_left
**/figure/**/add_t_right
**/figure/**/add_t_top
**/figure/**/add_z_down
**/figure/**/add_z_left
**/figure/**/add_z_right
**/figure/**/add_z_top
**/figure/**/add
**/figure/**/deactivate
**/figure/**/delete
**/figure/**/is_on_the_bottom
**/figure/**/move_down
**/figure/**/move_left
**/figure/**/move_right
**/figure/**/next_orientation
**/figure/**/read_form
**/figure/**/read_orientation
**/figure/**/read_position
**/figure/**/rotate_right
**/figure/**/write_form
**/figure/**/write_orientation
**/figure/**/write_position
**/matrix/**/clear
**/matrix/**/copy
**/matrix/**/fill
**/matrix/**/is_equal
**/target/**/delete
**/target/**/initialize
